	<div class="admin_nav">		
		<div class="navadmin">{{=IMG(_src=URL(r=request,c='static',f='images/admin.png'), _alt='Admin panel', _class='i_admin', _title='%s'%T('Show or hide the admin panel'))}}</div>            
		<div class="navinfo">{{=IMG(_src=URL(r=request,c='static',f='images/information.png'), _alt='Info', _class='i_info',_title='%s'%T('Change site information'))}}</div>        
		<div class="navarticles">{{=IMG(_src=URL(r=request,c='static',f='images/articles.png'), _alt='Articles', _class='i_articles',_title='%s'%T('Show articles'))}}</div>
		<div class="navcategories">{{=IMG(_src=URL(r=request,c='static',f='images/categories.png'), _alt='Categories', _class='i_categories',_title='%s'%T('Show categories'))}}</div>
		<div class="navusers">{{=IMG(_src=URL(r=request,c='static',f='images/users.png'), _alt='Users', _class='i_users',_title='%s'%T('Show users'))}}</div>
		<div class="navcomments">{{=IMG(_src=URL(r=request,c='static',f='images/comments.png'), _alt='Comments', _class='i_comments',_title='%s'%T('Show comments') )}}</div>
		<div class="navimages">{{=IMG(_src=URL(r=request,c='static',f='images/images.png'), _alt='Images', _class='i_images',_title='%s'%T('Show images'))}}</div>
		<div class="navlinks">{{=IMG(_src=URL(r=request,c='static',f='images/links.png'), _alt='Links', _class='i_links',_title='%s'%T('Show links'))}}</div>
		<div class="navstyle">{{=IMG(_src=URL(r=request,c='static',f='images/style.png'), _alt='Style', _class='i_style',_title='%s'%T('Show styles'))}}</div>					
	</div>
	
	
	